/* Css for View/header.php */
a {
	text-decoration: none !important;
}
.none-dec {
	text-decoration: none;
}

.container {
    max-width: 1200px;
    width: 100%;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.white {
	color: white !important;
}

.bg-red {
	background-color: rgb(238, 9, 9) !important;
}

.tile{
	margin-left: 5%;
	padding-right: 5%;
}

footer {
    background-color: #ccc;
    margin-top: 50px;
    padding: 20px;
}

.sear {
	margin-right: 5%;
}

.errtext {
	color: red;
}

.nav-content {
	margin-left: 15%;
}

/* footer */
.fcontainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 15px;
	background-color: #333;
	color: white;
}

.fcolumn {
	flex: 1;
	margin-right: 20px;
}


footer {
    background-color: #ccc;
    margin-top: 50px;
    padding: 20px;
    min-height: 50px;
}

/* Css for signup */
.login {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 35%;
	margin: auto;
	font-family: arial;
	padding: 10px;
    margin-top: 20px;
}

/* Css for hompage/home*/
.content {
	margin-top: 20px !important;
}

aside h3 {
	font-size: 1em;
	background-color: #EBEBEB;
    padding: 8px 15px;
	text-align: center;
	border: 1px solid #000;
	border-radius: 10px;
}

.card {
	margin-bottom: 20px;
	text-align: center;
	border: none;
	transition: all 0.5s;
}

.card:hover {
	background-color: #ccc;
}

.homeprd {
	margin-left: 5%;
}

.add {
	text-decoration: none;
	color: black;
}

.res {
	width: 80% !important;
}

.product {
	padding: 12px;
}

/* Css for homepage/detail */
.buy {
	margin-left: 30%;
}

.img-fluid{
	width: 80%;
}

.display{
	margin-top: 20px !important;
}

.des {
	width: 70%;
}

.input {
	width: 80% !important;
}

.binhluan {
	width: 80%;
	border: 1px solid;
	border-radius: 5px;
}

.mgl {
	margin-left: 3%;
	padding-bottom: 15px;
}

.inbl {
	margin-top: 10px;
}

#comment{
	margin-bottom: 20px;
}

.respo{
	width: 40% !important;
}
