/* Css for View/header.php */
a {
	text-decoration: none !important;
}
.none-dec {
	text-decoration: none;
}
.container {
    max-width: 1200px;
    width: 100%;
}

body {
    min-height: 100vh;
    background-color: rgb(185, 223, 235);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.white {
	color: white !important;
}

.bg-red {
	background-color: rgb(238, 9, 9) !important;
}

.tile{
	margin-left: 5%;
	padding-right: 5%;
}

footer {
    background-color: #ccc;
    margin-top: 50px;
    padding: 20px;
}

.sear {
	margin-right: 5%;
}

.errtext {
	color: red;
}

.nav-content {
	margin-left: 15%;
}

/* footer */
.fcontainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 15px;
	background-color: #333;
	color: white;
}

.fcolumn {
	flex: 1;
	margin-right: 20px;
}


footer {
    background-color: #ccc;
    margin-top: 50px;
    padding: 20px;
    min-height: 50px;
}

/* Css for view/signup */
.login {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 35%;
	margin: auto;
	font-family: arial;
	padding: 10px;
    margin-top: 20px;
}