@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin:0;  
    padding:0; 
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background-color: rgb(185, 223, 235);
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/*START HEADER*/
.header {
    /* background-color: #ccc;
    margin-bottom: 5px;
    padding: 20px; */
    position: fixed;
    top:0; 
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    /* background: rgba(81, 51, 51, 0.1); 
    backdrop-filter: blur(50px); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header::after {
    content: '';
    position: absolute;
    top: 0; 
    left: -100%; 
    width: 100%; 
    height: 100%; 
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

.header:hover::after {
    left: 100%; 
}

.non-dec {
    text-decoration: none;
}

.logo {
    font-size: 2rem; 
    color: #fff; 
    text-decoration: none;
    font-weight: 700;
}

.heading a {
    font-size: 1.15rem;
    color: #fff; 
    text-decoration: none;
    font-weight: 500;
    margin-left: 1.0rem;

}

#check {
    display: none; 
}

.icons {
    position: absolute;
    right: 5%;  
    font-size: 2.8rem; 
    color: #fff; 
    cursor: pointer;
    display:none; 
}

/*BREAKPOINTS*/
@media (max-width: 989px) {
    .header {
        padding: 1.3rem 5%; 
    }
}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none; 
    }

    .icons #close-icon {
        display: none; 
    }

    #check:checked~.icons #close-icon {
        display: block; 
    }

    .heading {
        position: absolute; 
        top: 100%; 
        left: 0; 
        width: 100%; 
        height: 0;
        background: rgba(0, 0, 0, .1);
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        transition: .3s ease;
        overflow: hidden;
    }
    
    #check:checked~.heading {
        height: 24rem;
    }

    .heading a {
        display: block; 
        font-size: 1.1rem;
        margin: 1.5rem 0; 
        text-align: center; 
        transform: translateY(-50px);
        transition: .3s ease;
    }
    #check:checked~.heading a {
        transform: translateY(0);
        opacity: 1; 
        transition-delay: calc(.15s * var(--i));
    }
}

/*END HEADER*/

footer {
    background-color: #ccc;
    margin-top: 50px;
    padding: 20px;
    min-height: 50px;
}

.container-footer {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

table, td, th {
    border: 1px solid black;
    text-align: center;
  }
  
table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
}

.container{
    margin-top: 100px;
    padding: 0px 50px;
    width: calc(100%-100px);
}

/* Create form */
.crud {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: auto;
	padding: 10px;
    margin-top: 20px;
    background-color: #fff;
}

.crud-btn {
    margin: auto;
}

